<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="author" content="{{ site.author.name }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/site.css">
    <link rel="stylesheet" href="/assets/css/pygments.css">
  </head>
  <body>
    <div class="container">
      <header class="site-header">
        <h1 class="site-title"><a href="/">{{ site.title }}</a></h1>
      </header>
      <main>
        {{ content }}
      </main>
      {% include footer.html %}
    </div>
    {% include analytics.html %}
  </body>
</html>
